.hgtmh-roll-button{
	width:30px;
	height:30px;
	text-align: center;
	line-height: 30px;
	background: url('/icons/svg/d20-grey.svg') no-repeat;
	background-size: cover;
}
.hgtmh-roll-button:hover{
	background: url('/icons/svg/d20-highlight.svg');
}

.hgtmh-rolled-button{
	width:30px;
	height:30px;
	text-align: center;
	line-height: 30px;
	
	margin: 0;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
}

.hgtmh-30-square{
	width:30px;
	height:30px;
}

.hgtmh-harvest-roller{
	text-align: right;
	width: 30px;
}

.hgtmh-roller-name{
	width: 30%;
	height:30px;
    text-align: right;
	padding-right:5px;
}

.hgtmh-harvest-player-img{
	width:100%;
	height:auto;
	display: inline;
	float:right;
}

.hgtmh-center-text{
	text-align: center;
}

.hgtm-crafting-dropdown{
	margin-bottom: 10px;
}
.hgtmh-rolled-result{
	margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
}
